<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nit.weixi.study_c_system">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".data.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.WelcomeActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.YindaoActivity">

        </activity>
        <activity android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent">

        </activity>
        <activity android:name=".activity.TrainingActivity"
            android:label="@string/title_training"
            android:theme="@style/TrainingTheme.Transparent">

        </activity>
        <activity android:name=".activity.TestActivity"
            android:label="@string/title_test"
            android:theme="@style/TestTheme.Transparent">

        </activity>
        <activity android:name=".activity.TaskActivity"
            android:label="@string/title_task"
            android:theme="@style/TaskTheme.Transparent">

        </activity>
        <activity android:name=".activity.DataActivity"
            android:label="@string/title_data"
            android:theme="@style/DataTheme.Transparent">

        </activity>
        <activity android:name=".activity.ZhangJieActivity"
            android:parentActivityName=".activity.TrainingActivity"
            android:theme="@style/TrainingTheme">

        </activity>
        <activity android:name=".activity.TimuActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <activity android:name=".activity.FileTreeActivity"
            android:theme="@style/DataTheme.NoActionBar">

        </activity>

        <activity android:name=".activity.DetailDataActivity">

        </activity>

        <activity android:name=".activity.TeacherClientActivity"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".activity.BuzhiZuoyeActivity">

        </activity>
        <activity android:name=".activity.OneTimuActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name=".activity.StartAnswerActivity">

        </activity>
        <activity android:name=".activity.AboutActivity">

        </activity>
        <activity android:name=".activity.StuChengjiActivity">

        </activity>
        <activity android:name=".activity.DetailChengjiActivity">

        </activity>
        <activity android:name=".activity.UpdateTikuActivity">

        </activity>
        <activity android:name=".activity.FeedbackActivity">

        </activity>
    </application>

</manifest>
